# External Lab

# Part-1

## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [41]:
import pandas as pd 
import numpy as np 
import seaborn as sns

In [42]:
iris = pd.read_csv('Iris.csv')
iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Find out the datatypes of each and every column

In [43]:
iris.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [44]:
print(iris.head(10))
print(iris.tail(10))

   Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
0                   5.1                  3.5                   1.4
1                   4.9                  3.0                   1.4
2                   4.7                  3.2                   1.3
3                   4.6                  3.1                   1.5
4                   5.0                  3.6                   1.4
5                   5.4                  3.9                   1.7
6                   4.6                  3.4                   1.4
7                   5.0                  3.4                   1.5
8                   4.4                  2.9                   1.4
9                   4.9                  3.1                   1.5

   Petal width (in cm)        Class
0                  0.2  Iris-setosa
1                  0.2  Iris-setosa
2                  0.2  Iris-setosa
3                  0.2  Iris-setosa
4                  0.2  Iris-setosa
5                  0.4  Iris-setosa
6                  0.3  Iris-setosa
7                  0.2  Iris-setosa
8                  0.2  Iris-setosa
9                  0.1  Iris-setosa
     Sepal Length (in cm)  Sepal Width in (cm)  Petal length (in cm)  \
140                   6.7                  3.1                   5.6
141                   6.9                  3.1                   5.1
142                   5.8                  2.7                   5.1
143                   6.8                  3.2                   5.9
144                   6.7                  3.3                   5.7
145                   6.7                  3.0                   5.2
146                   6.3                  2.5                   5.0
147                   6.5                  3.0                   5.2
148                   6.2                  3.4                   5.4
149                   5.9                  3.0                   5.1

     Petal width (in cm)           Class
140                  2.4  Iris-virginica
141                  2.3  Iris-virginica
142                  1.9  Iris-virginica
143                  2.3  Iris-virginica
144                  2.5  Iris-virginica
145                  2.3  Iris-virginica
146                  1.9  Iris-virginica
147                  2.0  Iris-virginica
148                  2.3  Iris-virginica
149                  1.8  Iris-virginica

### Find the shape of the dataset

In [45]:
iris.shape

(150, 5)

### Set the index of the dataframe to be the first column

In [46]:
#iris.index= iris[]
iris.set_index(iris.columns[0])
iris.head()

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

### Use iloc function to print all the rows of the 3rd column

In [47]:
print(iris.iloc[2])

Sepal Length (in cm)            4.7
Sepal Width in (cm)             3.2
Petal length (in cm)            1.3
Petal width (in cm)             0.2
Class                   Iris-setosa
Name: 2, dtype: object

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

In [48]:
print(iris.iloc[0:10,[0,1]])

   Sepal Length (in cm)  Sepal Width in (cm)
0                   5.1                  3.5
1                   4.9                  3.0
2                   4.7                  3.2
3                   4.6                  3.1
4                   5.0                  3.6
5                   5.4                  3.9
6                   4.6                  3.4
7                   5.0                  3.4
8                   4.4                  2.9
9                   4.9                  3.1

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

### Find out the mean and variance for each column but for class column

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

### Sort the entire dataset according to the column Petal width

### Remove the new column "SepalExtra" from the dataframe

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"

# Part-2

## The dataset HR contains information collected from the survey floated by a HR within the company.


As a part of this lab, you are expected to answer the below questions

### Import numpy and Pandas

### Import the dataset (Note: The dataset is in .txt format) - Make sure to use delimiters

### Print the no of rows and columns in the dataset

### Find out the type of each and every column in the dataset

### Print out all the rows from 3rd column to 10th columns

### Find out the no of male & female employees in the company

*Hint: Use can use a condition to find out the no of 1s and 0s in gender and sum it*

### Find out the IQR for the column - Age 

*Hint: IQR - Interquartile range = 75th percentile - 25th percentile*

### Find out the mean, median and variance for the column - DailyRate

### Plot the attrition column (Since it is a categorical variable, chose the plot accordingly)

### Plot Total working years using matplotlib plot function